.preview-output::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #D95160;
    box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}
