body {
    background-color: #f7f7f7;
}

.preview-output::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #D95160;
    box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

input:focus {
    outline: none;
    border-color: rgba(49, 46, 129);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 5px rgba(69,122,187,.5);
}

select:focus {
    outline: none;
    border-color: rgba(49, 46, 129);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 5px rgba(69,122,187,.5)
}

/* Custom checkbox */

input[type=checkbox].hide-checkbox {
    position: relative;
    left: -999em; /* hide the real checkbox */
}
    
input[type=checkbox].hide-checkbox + span.checkbox-target {
    content: "";
    display: block;
    background: #fff;
}

input[type=checkbox].hide-checkbox:checked + span.checkbox-target {
    background: rgb(49, 46, 129);
}

input[type=checkbox].hide-checkbox:checked + span.checkbox-target::after{
    content: "✓";
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

/* Custom radio */

input[type=radio].hide-radio {
    position: relative;
    left: -999em; /* hide the real radio */
}
    
input[type=radio].hide-radio + span.radio-target {
    content: "";
    display: block;
    background: #fff;
}

input[type=radio].hide-radio:checked + span.radio-target {
    background: rgb(49, 46, 129);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=radio].hide-radio:checked + span.radio-target::after{
    content: "";
    font-weight: bold;
    font-size: 1.25em;
    line-height: 0;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
}

/* Override code sample background to match 'terminal' */

.code-sample {
    background-color: rgb(31, 41, 55) !important;
    border-radius: 0.5rem !important;
}

.direction-arrow {
    user-select: none;
    outline: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    font-size: 24px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    transform-origin: 50%;
}

.direction-arrow.top {
    transform: translate(0, -3rem);
}

.direction-arrow.bottom {
    transform: translate(0, 3rem) rotateZ(180deg);
}

.direction-arrow.left {
    transform: translate(-3rem, 0) rotateZ(270deg);
}

.direction-arrow.right {
    transform: translate(3rem, 0) rotateZ(90deg);
}

.direction-arrow.top-left {
    transform: translate(-2rem, -2rem) rotateZ(315deg);
}

.direction-arrow.top-right {
    transform: translate(2rem, -2rem) rotateZ(45deg);
}

.direction-arrow.bottom-left {
    transform: translate(-2rem, 2rem) rotateZ(225deg);
}

.direction-arrow.bottom-right {
    transform: translate(2rem, 2rem) rotateZ(135deg);
}